body,
html,
#root {
  min-height: 100vh;
}

html {
  font-size: 10px;
  font-family: Helvetica, Arial;
}

body {
  margin: 0;
}

$margin-top-slug: "mt-" !default;
$margin-bottom-slug: "mb-" !default;

@for $i from 0 through 10 {
  .#{$margin-top-slug}#{$i} {
    padding-top: 0px + $i;
  }
  .#{$margin-bottom-slug}#{$i} {
    padding-bottom: 0px + $i;
  }
}
