.ul {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;

  li {
    margin: 5px 0;
  }
}

.link {
  color: cornflowerblue;
  transition: color 0.15s;
  font-size: 1.6rem;

  &:not(.active):hover {
    text-decoration: none;
    color: blue;
  }
}

.active {
  color: #000;
  text-decoration: none;
  position: relative;

  &:after {
    position: absolute;
    left: 100%;
    top: -5px;
    margin-left: 5px;
    content: " 🎈";
  }
}
